
<div class="contain">
  <p class="notice"><%= notice %></p>

  <h1 class="page-title">Transaction Page</h1>
  
  <% total_amount = 0 %>
  <% @group_entities.each do |group_entity| %>
  <% total_amount += group_entity.entity.amount %>
  <% end %>

  <div class="head-div">
  <p class='trans-heading'><%= @group.name %></p>
  <p class="transaction-amt">$ <%= total_amount %></p>
  </div>

  <ul class="group-entities-list">
    <% @group_entities.each do |group_entity| %>
      <li class="group-entity">
        <div> <p><%= group_entity.entity.name %><br><p></div>
        <div><p class='transaction-amt'>$ <%= group_entity.entity.amount %><br></p></div>
      </li>
    <% end %>
  </ul>

  
  <%= link_to "New Transaction", new_group_entity_path(group_id: @group.id), class: 'alink back-button' %>
  <%= link_to "Back", groups_path, class: 'link' %>
</div>
  

