<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "splash", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "transaction", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "groups", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "groupentity", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
